.card {
	margin: 2rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}
.form > input{
	width: 100%;
	max-width: 100%;
	margin: 5px auto;
}
.form > label{
	width: 100%;
	max-width: 100%;
	font-weight: bold;
}
.form > button{
	display: grid;
	margin: auto;
	width: 50%;
	max-width: 50%;
}